* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: 100px;
    width: 795px;
    height: 450px;
    display: flex;
    justify-content: space-between;
}

.wrap-panel {
    width: 395px;
    height: 450px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel {
    width: 310px;
    height: 370px;
    background: linear-gradient(180deg, #abaaab, #737273);
    border: 35px solid #424142;
    border-top: 35px solid #cdcbcd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indicators-container {
    margin-top: 20px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.indicator {
    width: 25px;
    height: 25px;
    border: 5px solid #000;
    border-radius: 100%;
    background-color: #6a686a;
    overflow: hidden;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.indicator-active {
    background-color: #00c000;
}

.glow {
    margin-left: 4px;
    margin-top: 2px;
    width: 10px;
    height: 5px;
    border-radius: 100%;
    background-color: #fff;
    transform: rotate(-25deg);
}

.dark-glow {
    margin-left: 8px;
    margin-top: 12px;
    width: 15px;
    height: 5px;
    border-radius: 100%;
    background-color: #2f2e2f;
    transform: rotate(-15deg);
}

.display {
    margin-top: 40px;
    padding: 5px;
    width: 230px;
    height: 230px;
    background-color: #000;
    border: 6px solid #c9c3c6;
    border-radius: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.show-num-active {
    background-color: #44a8ff;
}

.numpad {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 75px);
    grid-template-rows: repeat(3, 75px);
    gap: 5px;
}

.wrap-num {
    width: 75px;
    height: 75px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0px 20px 10px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.num {
    width: 55px;
    height: 55px;
    border: 5px solid #363534;
    border-radius: 5px;
    background-color: #747374;
}

.num-active {
    border: 5px solid #606360;
    background-color: #d1d0d1;
}

.num-pressed {
    border: 5px solid #1a4160;
    background-color: #3889d1;
}

.num-error-1 {
    border: 5px solid #631700;
    background-color: #d12f00;
}

/* indicators on second panel */

.sp-i-error-1 {
    background-color: #c02c00;
}

.num-error-2 {
    border: 5px solid #616361;
    background-color: #d1d0d1;
}

/* indicators on second panel */

.sp-i-error-2 {
    background-color: #c0c0c0;
}

/*

    Button START

*/

.container-start {
    margin-top: 50px;
    width: 220px;
    height: 125px;
    position: relative;
    cursor: default;
}

.container-arrow-black {
    margin-left: 20px;
    width: 200px;
    height: 125px;
    background-color: #000;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    overflow: hidden;
}

.container-arrow-white {
    margin-left: 5px;
    margin-top: 5px;
    width: 185px;
    height: 115px;
    background-color: #fff;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    overflow: hidden;
}

.container-arrow-blue {
    margin-top: 10px;
    margin-left: 8px;
    width: 160px;
    height: 95px;
    background-color: #333345;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    overflow: hidden;
}

.container-arrow-red {
    margin-left: 10px;
    margin-top: 10px;
    width: 135px;
    height: 75px;
    background-color: #cc3300;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    overflow: hidden;
}

.arrow {
    width: 135px;
    height: 75px;
    background-color: #fff;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.top-color {
    width: 135px;
    height: 75px;
    background-color: #bbbbcc;
    clip-path: polygon(0% 0%, 30% 50%, 100% 50%);
    position: absolute;
}

.left-color {
    width: 135px;
    height: 75px;
    background-color: #ccdddd;
    clip-path: polygon(0% 0%, 30% 50%, 0% 100%);
    position: absolute;
}

.bottom-color {
    width: 135px;
    height: 75px;
    background-color: #aabbbb;
    clip-path: polygon(0% 100%, 30% 50%, 100% 50%);
    position: absolute;
}

.title {
    left: 0;
    top: calc(50% - 60px/2);
    font-size: 60px;
    position: absolute;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}